* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cormorant Garamond', serif;
  background-color: #f2efe9; /* blanco roto */
  color: #1f1f1f;
  line-height: 1.8;
}

/* UMBRAL */
#umbral {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frase {
  font-size: 2rem;
  max-width: 600px;
  text-align: center;
}

/* SECCIONES */
section {
  padding: 160px 12%;
}

/* OBRA */
#obra img {
  width: 100%;
  margin-bottom: 120px;
}

/* TEXTO */
#texto p {
  font-size: 1.6rem;
  margin-bottom: 80px;
}

/* CONTACTO */
#contacto {
  font-size: 1rem;
  opacity: 0.8;
}

#contacto a {
  color: inherit;
  text-decoration: none;
}
